---
title: "Atlanta Doberman Rescue | Natalie Kozlowski"
caseName: "Atlanta Doberman Rescue"
date: 2015-01-21
category: webDesign
preview: "../images/doberman_rescue/pre_doberman.png"

caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}