---
title: "CodeGuard App | Natalie Kozlowski"
caseName: "CodeGuard App"
date: 2015-01-19
category: webDesign
preview: "../images/cg_app/pre_cgapp.png"

caseLink: https://www.codeguard.com/
caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}