---
title: "CodeGuard Homepage | Natalie Kozlowski"
caseName: "CodeGuard Homepage"
date: 2015-01-19
category: webDesign
preview: "../images/cg_homepage/pre_cghomepage.png"

caseLink: https://www.codeguard.com/
caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span Website redesign
    %p
      This project was extremely fun for me because I managed it from start to finish. I created the design and all custom graphics using Photoshop and Illustrator. For development I used Middleman, a ruby based static site generator. I designed and built three custom animations to help illustrate what our application does. I also utilized multiple JavaScript waypoint and parallax effects to keep visitors interested throughout the experience. Most of the development was done in HTML, CSS and JavaScript. The website is completely responsive and mobile-optimized. View this project and the custom animations live at the
      %a{:href => "https://www.codeguard.com", :target => "_blank"} CodeGuard website!
    %img{:class => "fullScreenshot", :src => "/images/cg_homepage/fullscreen_cghomepage1.png", :alt => "CodeGuard homepage redesign"}
