---
title: "CodeGuard Homepage | Natalie Kozlowski"
caseName: "CodeGuard Homepage"
date: 2015-01-19
category: webDesign
preview: "../images/cg_homepage/pre_cghomepage.png"

caseLink: https://www.codeguard.com/
caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span Website redesign
    %p
      asdf
    %img{:class => "fullScreenshot", :src => "/images/cg_homepage/fullscreen_cghomepage1.png", :alt => "CodeGuard homepage redesign"}
