---
title: "CodeGuard Infographic | Natalie Kozlowski"
caseName: "CodeGuard Infographic"
date: 2015-09-19
category: graphicDesign
subtitle: Graphic Design
preview: "../images/cg_infographic1/pre_cginforgraphic1.png"

caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span= data.page.subtitle
    %p
      At CodeGuard we wanted to find out how designers and developers were backing up websites today. What tools were they using? Were they relying on plugins? Custom scripts? Their hosting provider? To answer this question we surveyed several hundred web designers and compiled their responses into fun-to-read infographic. It was my task to take the raw survey data and come up with a custom design for this information that was interesting and readable. This is the final result!
    %img{:class => "ss", :src => "/images/cg_infographic1/fullscreen_cginfographic1.jpg", :alt => "CodeGuard Infographic"}
