---
title: "CodeGuard State of the Web Q2 | Natalie Kozlowski"
caseName: "State of the Web Q2 Infographic"
date: 2015-09-17
category: graphicDesign
subtitle: Graphic Design
preview: "../images/cg_infographic3/pre_cginfographic3.png"

caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span= data.page.subtitle
    %p
      As part of CodeGuard's
      =link_to "State of the Web", "/projects/cg-infographic-stateoftheweb1.html"
      campaign, this was an infographic I created for quarter 2 in 2015. Nothing too dramatic happened between quarter 1 and quarter 2 with the numbers, but we were able to produce interesting data in this quarter on popular eCommerce platforms in use.
    %img{:class => "ss", :src => "/images/cg_infographic3/fullscreen_cginfographic3.jpg", :alt => "CodeGuard State of the Web Infographic Q2"}
