---
title: "CodeGuard State of the Web Q1 | Natalie Kozlowski"
caseName: "State of the Web Q1 Inforgraphic"
date: 2015-09-17
category: graphicDesign
subtitle: Graphic Design
preview: "../images/cg_infographic2/pre_cginforgraphic2.png"

caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span= data.page.subtitle
    %p
      CodeGuard takes thousands of website and database backups every day (and millions of backups each week). Because we serve customers from all over the world in countless types of industries, we realized that there was a lot of interesting data to be extracted from our numbers. What are the most popular technologies used on websites today? How many websites were utilizing social media? How many websites were mobile optimized? What content management systems were being used? We didn't think we were the only ones who would be interested in this data, so this year we decided to release an infographic once a quarter on "The State of the Web." It was my task to take all of the raw data from our numbers and produce an infographic for us to release to the public.
    %img{:class => "ss", :src => "/images/cg_infographic2/fullscreen_cginfographic2.jpg", :alt => "CodeGuard State of the Web Infographic Q1"}
