---
title: "CodeGuard Status Boards | Natalie Kozlowski"
caseName: "Status Boards"
date: 2015-01-20
category: webDesign
preview: "../images/cg_statusboards/pre_statusboards.png"

caseLink: https://status.codeguard.com/
caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}