---
title: "Eli Review App | Natalie Kozlowski"
caseName: "Year In Review Email"
date: 2015-09-22
category: graphicDesign
subtitle: Graphic Design
preview: "../images/codeguard_email1/pre_codeguard_email1.png"

caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span= data.page.subtitle
    %p
      This was an email that I wrote, designed and developed from start to finish. The goal of this email was to get CodeGuard's annual customers excited about the first year they had with us. We wanted to show them information about all of the interesting things that had happened to their account that year, and also report on the cool things that had happened to CodeGuard since they had been with us. After some team whiteboarding I sat down to write all of the copy for this email, design it in Adobe Photoshop, and developed a desktop and mobile version of it to be used as a tempalte inside MailChimp.
    %img{:class => "ss", :src => "/images/codeguard_email1/fullscreen_codeguard_email1.png", :alt => "HTML Email Design"}
