---
title: "Eli Review App | Natalie Kozlowski"
caseName: "Eli Review App"
date: 2015-01-21
category: webDesign
preview: "../images/eli_app/pre_eliapp.png"

caseLink: https://app.elireview.com/
caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}