---
title: "Eli Review Homepage | Natalie Kozlowski"
caseName: "Eli Review Homepage"
date: 2015-01-21
category: webDesign
preview: "../images/eli_homepage/pre_elihomepage.png"

caseLink: http://elireview.com/
caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span Website redesign
    %p
      Eli Review is an online tool that empowers teachers to coach students in feedback and revision to promote better writing. I was tasked with redesgining their entire marketing website, including their company blog and each sub-page. I took their current color scheme and created a brand new design that was clean with clear primary and secondary call-to-actions. After designing this website I coded it using HTML, CSS and JavaScript. The website is completely responsive and mobile-optimized.
    %img{:class => "fullScreenshot", :src => "/images/eli_homepage/fullscreen_elihomepage.png", :alt => "Eli Review homepage redesign"}
    %img{:class => "fullScreenshot", :src => "/images/eli_homepage/fullscreen_eliblog.png", :alt => "Eli Review blog redesign"}
