---
title: "Eli Review Modules | Natalie Kozlowski"
caseName: "Eli Review Module Sites"
date: 2015-01-21
category: webDesign
preview: "../images/eli_modules/pre_elimodules.png"

caseLink: http://elireview.com/content/td/feedback/
caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}