---
title: "Eli Review Homepage | Natalie Kozlowski"
caseName: "Eli Review Homepage"
date: 2015-01-21
category: webDesign
preview: "../images/eli_homepage/pre_elihomepage.png"

caseLink: http://elireview.com/
caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}