---
title: "CodeGuard Time Machine T-shirt | Natalie Kozlowski"
caseName: "Time Machine T-Shirt"
date: 2015-01-21
category: webDesign
subtitle: Custom t-shirt design
preview: "../images/tshirt_timemachine/pre_timemachine.png"

caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span= data.page.subtitle
    %p The second custom t-shirt I designed for CodeGuard is our Time Machine t-shirt. This one is by far our most popular at conferences! We have a catch phrase to explain what our application does, it's "A time machine for your website." This was my inspiration for creating a cool time machine graphic on the front of the shirt that had pipes, swirls, gizmos, and gadgets everywhere! 
    %img{:src => "/images/tshirt_timemachine/timemachine1.png", :alt => "CodeGuard time machine t-shirt"}
    %img{:class => "tshirt", :src => "/images/tshirt_timemachine/timemachine3.png", :alt => "CodeGuard time machine t-shirt"}
    %img{:class => "tshirt", :src => "/images/tshirt_timemachine/timemachine2.jpg", :alt => "CodeGuard time machine t-shirt"}