---
title: "CodeGuard Robot T-shirt | Natalie Kozlowski"
caseName: "CodeGuard Robot T-shirt"
date: 2015-01-21
category: webDesign
preview: "../images/tshirt_robot/pre_robot.png"

caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}