---
title: "CodeGuard Time Machine T-shirt | Natalie Kozlowski"
caseName: "CodeGuard Time Machine T-shirt"
date: 2015-01-21
category: webDesign
preview: "../images/tshirt_timemachine/pre_timemachine.png"

caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}