---
title: "Wacky Web Poster | Natalie Kozlowski"
caseName: "Wacky Web Poster"
date: 2015-04-04
category: graphicDesign
subtitle: Graphic Design
preview: "../images/wackyposter/pre_wackyposter.png"

caseColor: #7dbd16
---

%section.detailView
  .row
    %h1
      = data.page.caseName
      %span= data.page.subtitle
    %p
      At CodeGuard we surveyed our customers asking them, "what was the wackiest and weirdest thing that happened to your website in 2014?" After picking the 10 best stories I created this poster to illustrate them. I used Adobe Illustrator for everything - drawing all the graphics by hand. It was a lot of fun to come up with an image that went along with each story!
    %img{:class => "ss", :src => "/images/wackyposter/wackyposter.jpg", :alt => "CodeGuard Wacky Web Poster"}
