// color varaibles
$salmonRed: #FA474E
$textGrey: #333
$backgroundGrey: #231F20

// container and global styles
body, html
  background: #fff
  width: 100%
  height: 100%
  margin: 0px
  padding: 0px
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  color: $textGrey
ul
  margin: 0px
  padding: 0px

h1
  font-weight: 500
  
p
  a
    color: #000
    font-weight: bold
    text-decoration: underline
    transition: 0.4s
    &:hover
      text-decoration: none
      transition: 0.4s

//font for name
@font-face
  font-family: cocogoose
  src: url('fonts/cocogoose.otf') format('opentype')
  behavior: url(/javascripts/PIE.htc)
  font-weight: bold

// header styles
header
  display: block
  margin-bottom: 35px
  padding: 23px 0px
  background: white
  width: 100%
  float: left
  text-transform: uppercase
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  border-bottom: 1px solid #f1f1f1
  text-align: center
  nav
    float: right
    position: relative
    top: 15px
    left: -5px
    i
      font-family: "icons"
      font-style: normal
      font-size: 27px
      display: none
      &:before
        content: '\e800'
        cursor: pointer
        display: block
    ul
      li
        display: inline
        display:inline-block
        vertical-align:middle
        margin: 0px 17px
        font-weight: normal
        font-size: 14px
        &:last-child
          margin-right: 0px
        a
          text-decoration: none
          color: #AFAFAF
          letter-spacing: 1px
          transition: 0.4s
          padding-bottom: 1px
          border-bottom: 2px solid #fff
          &:hover
            color: #000
            transition: 0.3s
        .active
          color: #000
          transition: 0.3s

.logo
  display: block
  padding-left: 5px
  float: left
  a
    letter-spacing: 1px
    font-family: cocogoose
    font-size: 23px
    text-decoration: none
    color: $textGrey
    float: left
    display:inline-block
    vertical-align:middle
    span
      color: $salmonRed
      margin-right: -3px
  .headline
    color: #AFAFAF
    text-transform: none
    font-size: 12px
    letter-spacing: 1px
    float: left
    font-weight: 200
    display: block
    clear: both
    margin-top: 1px

.bodyCase
  section
    img
      width: 100%
      height: auto

// Styles for Work or Homepage
.previewContainer
  width: 102%
  margin-left: -5px
  .preview
    float: left
    width: 33%
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    border: 10px solid #fff
    overflow: hidden
    .title
      opacity: 10
      background: black
      position: absolute
    .holder
      display: block
      span
        display: none
        width: 348px
        height: 242px
        position: absolute
        background: rgba(0,0,0,0.7)
        margin-top: -246px
        margin-left: 1px
        line-height: 242px
        text-align: center
        color: #fff
        text-decoration: none
    img
      width: 100%
      height: auto
      border: 1px solid #ddd
      box-sizing: border-box
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box

.filterNav
  padding: 25px 0px
  display: block
  clear: both
  ul
    text-align: center
    li
      display: inline-block
      font-size: 12px
      &:last-child
        a
          border-right: none
      a
        text-decoration: none
        color: #adadad
        letter-spacing: 0.7px
        font-weight: 200
        text-transform: uppercase
        border-right: 1px solid #adadad
        padding: 1px 10px
        transition: 0.4s
        &:hover
          color: $textGrey
      .active
        color: $textGrey
        transition: 0.4s

//footer styles
.footer
  text-align: center
  margin: 100px 0px
  .logo
    display: inline-block
    float: none
    margin: 0 auto
    a
      text-align: center
      text-transform: uppercase
    .headline
      text-align: center
      padding-top: 5px
      float: none

footer
  margin-top: 50px
  padding: 30px 0px
  border-top: 1px solid #dedede
  color: #AFAFAF
  font-size: 12px
  letter-spacing: 0.5px
  .row
    div
      &:first-child
        float: left
        padding-left: 5px
      &:last-child
        float: right
        position: relative
        left: -5px
    p
      a
        color: $salmonRed
        text-decoration: none
        &:hover
          text-decoration: underline

.toTop
  display: none
  text-align: center
  color: #fff
  background: $salmonRed
  text-decoration: none
  padding: 20px 0px
  text-transform: uppercase
  font-weight: bold
  margin-top: 25px
  transition: 0.4s
  &:hover
    background: #E3343B
    transition: 0.4s

//Devail bodyCase views
.bodyCase
  .detailView
    clear: both
    h1
      font-size: 2.250rem
      font-weight: 500
      text-align: center
      margin-top: 20px
      span
        display: block
        color: #AFAFAF
        font-size: 12px
        letter-spacing: 3.5px
        font-weight: normal
        margin-top: 15px
        text-transform: uppercase
        margin-top: 10px
        font-family: Georgia
    p
      font-size: 1.1rem
      width: 720px
      margin: 0 auto
      line-height: 1.8em
      text-align: center
      margin-bottom: 55px
      -webkit-font-smoothing: antialiased
      font-smoothing: antialiased
      color: #5C5C5C
    img
      margin-bottom: 50px

.fullScreenshot
  border: 1px solid #d8d6d6
  display: block
  margin: 0 auto
  border-radius: 10px
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  background: #f5f6f7
  padding-top: 36px
  margin-bottom: 50px

.btn_red
  background: $salmonRed
  color: #fff
  text-align: center
  display: block
  text-decoration: none
  width: 180px
  margin: 0 auto
  padding: 17px 0px
  border-radius: 40px
  margin: 0 auto
  font-weight: bold
  font-size: 16px
  transition: 0.4s
  &:hover
    background: #E3343B
    transition: 0.4s

.bodyCase
  section
    .ss
      border: 1px solid #d8d6d6
      width: 80% !important
      margin: 0 auto !important
      height: auto
      display: block
      margin-bottom: 50px !important

.moduleLinks
  padding: 0px
  margin: 0 auto
  width: 500px
  margin-bottom: 60px
  display: block
  li
    display: inline
    margin-right: 22px
    a
      text-align: center
      color: $textGrey
      font-weight: bold
      &:hover
        text-decoration: none

.tshirt
  width: 700px !important
  height: auto
  margin: 0 auto
  display: block

.about
  p
    line-height: 1.8em