//%section.footer
//.row
//.logo
//%a{:href => "javascript:void(0);", :class => "myName"}
//%span Natalie
//Kozlowski
//%span.headline Front-End Developer | UI/UX Designer
%footer
  .row
    %div
      %p
        &#169;
        %span.year
        Natalie Kozlowski
    %div
      %p
        Find me on 
        =link_to "Twitter!", "https://twitter.com/nrkozlowski", :target => "_blank"
  %a.toTop{:href => "javascript:void(0);"} Back To Top

// Google Tracking Code
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61263294-1', 'auto');
  ga('send', 'pageview');