%section.footer
  .row
    %h1 Natalie Kozlowski
    %p Web Developer &#8226; Web Designer &#8226; Graphic Designer &#8226; Writer
%footer
  .row
    =link_to "Twitter", "javascript:void(0);"
    =link_to "Dribble", "javascript:void(0);"
    =link_to "Contact", "javascript:void(0);"
