//%section.footer
//.row
//.logo
//%a{:href => "javascript:void(0);", :class => "myName"}
//%span Natalie
//Kozlowski
//%span.headline Front-End Developer | UI/UX Designer
%footer
  .row
    %div
      %p
        &#169;
        %span.year
        Natalie Kozlowski
    %div
      %p
        Find me on 
        =link_to "Twitter!", "https://twitter.com/nrkozlowski", :target => "_blank"
  %a.toTop{:href => "javascript:void(0);"} Back To Top