%header
  %nav
    %ul
      %li=link_to "Work", 'javascript:void(0);', :class => "active"
      %li=link_to "About", 'javascript:void(0);'
      %a{:href => "javascript:void(0);", :class => "myName"}
        %span Natalie
        Kozlowski
      %li=link_to "Resume", 'javascript:void(0);'
      %li=link_to "Contact", 'javascript:void(0);'