%header
  .row
    .logo
      %a{:href => "/", :class => "myName"}
        %span Natalie
        Kozlowski
      %span.headline Front-End Developer | UI/UX Designer
    %nav
      %i
      %ul
        %li=link_to "Work", 'javascript:void(0);', :class => "active"
        %li=link_to "About", 'javascript:void(0);'
