%header
  .row
    .logo
      %a{:href => "/", :class => "myName"}
        %span Natalie
        Kozlowski
      %span.headline Front-End Developer | UI/UX Designer
    %nav
      %i
      %ul
        %li=link_to "Work", '/', :class => "active work"
        %li=link_to "About", '/about', :class => "about"
