---
title: "FishTales | Natalie Kozlowski"
caseName: "FishTales"
date: 2015-01-21
category: webDesign
preview: "../images/fishtales/pre_fishtales.png"

caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}