---
title: "Grid Project | Natalie Kozlowski"
caseName: "Grid Project"
date: 2015-01-21
category: webDesign
preview: "../images/grid_project/pre_grid.png"

caseColor: #7dbd16
---

%section
  .row
    %h1= data.page.caseName
    %img{:src => data.page.preview}