@charset "UTF-8";
/* line 7, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
body, html {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333; }

/* line 15, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
ul {
  margin: 0px;
  padding: 0px; }

/* line 19, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
h1 {
  font-weight: 500; }

/* line 23, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
p a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
  transition: 0.4s; }
  /* line 28, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  p a:hover {
    text-decoration: none;
    transition: 0.4s; }

@font-face {
  font-family: cocogoose;
  src: url("fonts/cocogoose.otf") format("opentype");
  behavior: url(/javascripts/PIE.htc);
  font-weight: bold; }
/* line 40, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
header {
  display: block;
  margin-bottom: 35px;
  padding: 23px 0px;
  background: white;
  width: 100%;
  float: left;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f1f1;
  text-align: center; }
  /* line 53, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  header nav {
    float: right;
    position: relative;
    top: 15px;
    left: -5px; }
    /* line 58, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    header nav i {
      font-family: "icons";
      font-style: normal;
      font-size: 27px;
      display: none; }
      /* line 63, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
      header nav i:before {
        content: "";
        cursor: pointer;
        display: block; }
    /* line 68, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    header nav ul li {
      display: inline;
      margin: 0px 17px;
      font-weight: normal;
      font-size: 14px; }
      /* line 75, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
      header nav ul li:last-child {
        margin-right: 0px; }
      /* line 77, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
      header nav ul li a {
        text-decoration: none;
        color: #AFAFAF;
        letter-spacing: 1px;
        transition: 0.4s;
        padding-bottom: 1px;
        border-bottom: 2px solid #fff; }
        /* line 84, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
        header nav ul li a:hover {
          color: #000;
          transition: 0.3s; }
      /* line 87, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
      header nav ul li .active {
        color: #000;
        transition: 0.3s; }

/* line 91, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.logo {
  display: block;
  padding-left: 5px;
  float: left; }
  /* line 95, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .logo a {
    letter-spacing: 1px;
    font-family: cocogoose;
    font-size: 23px;
    text-decoration: none;
    color: #333;
    float: left; }
    /* line 104, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    .logo a span {
      color: #FA474E;
      margin-right: -3px; }
  /* line 107, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .logo .headline {
    color: #AFAFAF;
    text-transform: none;
    font-size: 12px;
    letter-spacing: 1px;
    float: left;
    font-weight: 200;
    display: block;
    clear: both;
    margin-top: 1px; }

/* line 120, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.bodyCase section img {
  width: 100%;
  height: auto; }

/* line 125, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.previewContainer {
  width: 102%;
  margin-left: -5px; }
  /* line 128, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .previewContainer .preview {
    float: left;
    width: 33%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 10px solid #fff;
    overflow: hidden; }
    /* line 136, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    .previewContainer .preview .title {
      opacity: 10;
      background: black;
      position: absolute; }
    /* line 140, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    .previewContainer .preview .holder {
      display: block; }
      /* line 142, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
      .previewContainer .preview .holder span {
        display: none;
        width: 348px;
        height: 242px;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        margin-top: -246px;
        margin-left: 1px;
        line-height: 242px;
        text-align: center;
        color: #fff;
        text-decoration: none; }
    /* line 154, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    .previewContainer .preview img {
      width: 100%;
      height: auto;
      border: 1px solid #ddd;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }

/* line 162, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.filterNav {
  padding: 25px 0px;
  display: block;
  clear: both; }
  /* line 166, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .filterNav ul {
    text-align: center; }
    /* line 168, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    .filterNav ul li {
      display: inline-block;
      font-size: 12px; }
      /* line 172, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
      .filterNav ul li:last-child a {
        border-right: none; }
      /* line 174, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
      .filterNav ul li a {
        text-decoration: none;
        color: #adadad;
        letter-spacing: 0.7px;
        font-weight: 200;
        text-transform: uppercase;
        border-right: 1px solid #adadad;
        padding: 1px 10px;
        transition: 0.4s; }
        /* line 183, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
        .filterNav ul li a:hover {
          color: #333; }
      /* line 185, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
      .filterNav ul li .active {
        color: #333;
        transition: 0.4s; }

/* line 190, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.footer {
  text-align: center;
  margin: 100px 0px; }
  /* line 193, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .footer .logo {
    display: inline-block;
    float: none;
    margin: 0 auto; }
    /* line 197, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    .footer .logo a {
      text-align: center;
      text-transform: uppercase; }
    /* line 200, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    .footer .logo .headline {
      text-align: center;
      padding-top: 5px;
      float: none; }

/* line 205, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
footer {
  margin-top: 50px;
  padding: 30px 0px;
  border-top: 1px solid #dedede;
  color: #AFAFAF;
  font-size: 12px;
  letter-spacing: 0.5px; }
  /* line 214, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  footer .row div:first-child {
    float: left;
    padding-left: 5px; }
  /* line 217, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  footer .row div:last-child {
    float: right;
    position: relative;
    left: -5px; }
  /* line 222, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  footer .row p a {
    color: #FA474E;
    text-decoration: none; }
    /* line 225, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    footer .row p a:hover {
      text-decoration: underline; }

/* line 228, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.toTop {
  display: none;
  text-align: center;
  color: #fff;
  background: #FA474E;
  text-decoration: none;
  padding: 20px 0px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 25px;
  transition: 0.4s; }
  /* line 239, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .toTop:hover {
    background: #E3343B;
    transition: 0.4s; }

/* line 245, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.bodyCase .detailView {
  clear: both; }
  /* line 247, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .bodyCase .detailView h1 {
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    margin-top: 20px; }
    /* line 252, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    .bodyCase .detailView h1 span {
      display: block;
      color: #AFAFAF;
      font-size: 12px;
      letter-spacing: 3.5px;
      font-weight: normal;
      margin-top: 15px;
      text-transform: uppercase;
      margin-top: 10px;
      font-family: Georgia; }
  /* line 262, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .bodyCase .detailView p {
    font-size: 1.1rem;
    width: 720px;
    margin: 0 auto;
    line-height: 1.8em;
    text-align: center;
    margin-bottom: 55px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: #5C5C5C; }
  /* line 272, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .bodyCase .detailView img {
    margin-bottom: 50px; }

/* line 275, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.fullScreenshot {
  border: 1px solid #d8d6d6;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #f5f6f7;
  padding-top: 36px;
  margin-bottom: 50px; }

/* line 287, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.btn_red {
  background: #FA474E;
  color: #fff;
  text-align: center;
  display: block;
  text-decoration: none;
  width: 180px;
  margin: 0 auto;
  padding: 17px 0px;
  border-radius: 40px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  transition: 0.4s; }
  /* line 301, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .btn_red:hover {
    background: #E3343B;
    transition: 0.4s; }

/* line 307, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.bodyCase section .ss {
  border: 1px solid #d8d6d6;
  width: 80% !important;
  margin: 0 auto !important;
  height: auto;
  display: block;
  margin-bottom: 50px !important; }

/* line 315, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.moduleLinks {
  padding: 0px;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 60px;
  display: block; }
  /* line 321, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
  .moduleLinks li {
    display: inline;
    margin-right: 22px; }
    /* line 324, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
    .moduleLinks li a {
      text-align: center;
      color: #333;
      font-weight: bold; }
      /* line 328, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
      .moduleLinks li a:hover {
        text-decoration: none; }

/* line 331, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.tshirt {
  width: 700px !important;
  height: auto;
  margin: 0 auto;
  display: block; }

/* line 338, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/style.css.sass */
.about p {
  line-height: 1.8em; }

@media only screen and (max-width: 1200px) {
  /* line 5, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/900.css.sass */
  .previewContainer .preview .holder span {
    width: 301px;
    height: 210px;
    margin-top: -213px;
    line-height: 210px; } }
@media only screen and (max-width: 960px) {
  /* line 15, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/900.css.sass */
  .previewContainer .preview .holder span {
    width: 237px;
    height: 165px;
    line-height: 165px;
    margin-top: -169px;
    font-size: 13px; }

  /* line 22, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/900.css.sass */
  .fullScreenshot {
    padding-top: 25px; } }
@media only screen and (max-width: 770px) {
  /* line 5, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/700.css.sass */
  .previewContainer .preview .holder span {
    display: none;
    opacity: 0;
    position: absolute; }

  /* line 11, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/700.css.sass */
  .bodyCase .detailView p {
    width: 100%; } }
@media only screen and (max-width: 700px) {
  /* line 15, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/700.css.sass */
  header {
    margin-bottom: 20px; }

  /* line 18, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/700.css.sass */
  .logo {
    width: auto;
    margin: 0 auto; }

  /* line 23, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/700.css.sass */
  .previewContainer .preview {
    width: 50%; } }
@media only screen and (max-width: 630px) {
  /* line 2, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/600.css.sass */
  .logo {
    float: none; }
    /* line 4, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/600.css.sass */
    .logo a, .logo .headline {
      float: none;
      text-align: center; }

  /* line 9, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/600.css.sass */
  header nav {
    float: none;
    left: 0px;
    margin-bottom: 20px; }

  /* line 14, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/600.css.sass */
  .fullScreenshot {
    padding-top: 0px;
    border-radius: 3px; } }
@media only screen and (max-width: 460px) {
  /* line 3, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/400.css.sass */
  .previewContainer .preview {
    width: 100%; } }
@media only screen and (max-width: 430px) {
  /* line 8, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/400.css.sass */
  .previewContainer .preview {
    width: 100%; }
    /* line 10, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/400.css.sass */
    .previewContainer .preview img {
      width: 100%;
      height: auto; }

  /* line 14, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/400.css.sass */
  footer {
    margin-top: 50px;
    padding-bottom: 0px; }
    /* line 18, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/400.css.sass */
    footer .row div:last-child {
      display: none; }
    /* line 20, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/400.css.sass */
    footer .row div:first-child {
      float: none;
      text-align: center; }

  /* line 24, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/400.css.sass */
  .toTop {
    display: block; } }
@media only screen and (max-width: 340px) {
  /* line 3, /Users/kozlow47/workspace/nataliekozlowski.com/source/stylesheets/300.css.sass */
  .logo a {
    font-size: 20px; } }
