.row
  %h1 About Me
  %p Hello! My name is Natalie Kozlowski. By day, I work for CodeGuard as a front-end developer and designer in Atlanta, GA. In my spare time I work on side projects in web and graphic design, play percussion in a community band, explore the great outdoors and learn how to speak Korean. I graduated from Michigan State University with a degree in Professional Writing.

  %p I specialize in designing and developing websites/apps that are user-friendly and built according to best-practice web standards. Some of my favorite projects include t-shirt design, infographic design, mobile development, any project that requires a lot of JavaScript and more!

  %p
    I've also had a few opportunities in the last year to speak at developer meetups and web design conferences around the country. Most recently I spoke at
    =link_to "Connect.js", "http://connect-js.com/", :target => "_blank"
    in Atlanta and
    =link_to "All Things Open", "http://allthingsopen.org/", :target => "_blank"
    in Raleigh. I find these experiences equal parts exciting, nerve-racking and rewarding. Either way I hope to continue speaking at events in the near future! 

  %p
    Want to say hello? Feel free to reach out on twitter! - 
    %A{:href => "https://twitter.com/nrkozlowski", :target => "_blank"} @NRKozlowski

:javascript
  $(document).ready(function() {
    jQuery(".work").removeClass("active");
    jQuery(".about").addClass("active");
  });