//.filterNav
//%ul
//%li=link_to "All", "javascript:void(0);", :class => "active"
//%li=link_to "Web Design", "javascript:void(0);"
//%li=link_to "Graphics & Prints", "javascript:void(0);"
//%li=link_to "Logo & Branding", "javascript:void(0);"
.row
  .previewContainer
    - blog.articles.each do |article|
      .preview{:class => article.data.category}
        %a.holder{:href => article.url}
          %img{:src => "images/#{article.data.preview}", :alt => article.data.caseName}
          %span=article.data.caseName
