.filterNav
  %ul
    %li=link_to "Web Design", "javascript:void(0);"
    %li=link_to "Web Development", "javascript:void(0);"
    %li=link_to "Graphic Design", "javascript:void(0);"

.previewContainer
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview
  .preview